<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <h1>Welcome to the Official Will Smith Fanpage!</h1>
    <img src="/images/face-slap.gif" alt="" > 
    <a href="/about">About Will Smith</a>
    <a href="/works">Greatest movies</a>

    <button class="bingewatching">Watch Prince of Bel Air for Free!</button>
    <script src="/javascript/script1.js"></script>
  </body>
</html>
