<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works page</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1>Will Smith Top 10 Movies</h1>  
  <ul class="best-movies">
    <li id="hancock">
      <p>Hancock (2008)</p>
      <img src="/images/hancock.jpg">
    </li>
    <li id="i-robot">
      <p>I, Robot (2004)</p>
      <img src="/images/irobot.jpg">
    </li>
    <li id="king-richard">
      <p>King Richard (2021)</p>
      <img src="/images/king-richard.jpg">
    </li>
    <li id="ali">
      <p>Ali (2001)</p>
      <img src="/images/ali.jpg">
    </li>
    <li id="bad-boys">
      <p>Bad Boys (1995)</p>
      <img src="/images/bad-boys.jpg">
    </li>
    <li id="i-am-legend">
      <p>I Am Legend (2007)</p>
      <img src="/images/i-am-legend.jpg">
    </li>
    <li id="independence-day">
      <p>Independence Day (1996)</p>
      <img src="/images/independence-day.jpg">
    </li>
    <li id="men-in-black">
      <p>Men in Black (1997)</p>
      <img src="/images/men-in-black.jpg">
    </li>
    <li id="enemy-of-the-state">
      <p>Enemy of the State (1998)</p>
      <img src="/images/enemy-of-the-state.jpg">
    </li>
    <li id="pursuit-of-happyness">
      <p>The Pursuit of Happyness (2006)</p>
      <img src="/images/pursuit-of-happyness.jpg">
    </li>
  </ul>
  <script type="text/javascript" src="javascript/script2.js"></script>
  <a href="/">Go back to home</a>
  <a href="/about">Go to about page</a>
</body>
</html>